 # Analise de dados sobre o consumo de alcool  

- O consumo excessivo de álcool é um problema grave de saúde pública. Imagine que temos o objetivo de desenvolver relatórios sobre o consumo de álcool no mundo.

- De tal forma, que foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório. 

    1. Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?

    2. Qual o consumo de licor na França?

    3. Quais os 5 países nos quais se consome mais vinho?

    4. Quais os países nos quais o consumo de cerveja está acima da média?

    5. Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

- O conjunto de dados encontrasse na página dataset

In [1]:
#Importando as bibliotecas


import pandas as pd 
import matplotlib.pyplot as plt

In [21]:
# importando o  conjunto de dados

df = pd.read_csv('./dataset/drinks.txt')
df.sample(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
142,Rwanda,43,2,0,6.8
167,Syria,5,35,16,1.0
96,Liberia,19,152,2,3.1
50,Dominica,52,286,26,6.6
180,Ukraine,206,237,45,8.9
119,Nepal,5,6,0,0.2
90,Kuwait,0,0,0,0.0
124,Nigeria,42,5,2,9.1
99,Luxembourg,236,133,271,11.4
4,Angola,217,57,45,5.9
21,Bosnia-Herzegovina,76,173,8,4.6
20,Bolivia,167,41,8,3.8
172,Togo,36,2,19,1.3
5,Antigua & Barbuda,102,128,45,4.9
160,Spain,284,157,112,10.0
107,Mauritania,0,0,0,0.0
81,Ireland,313,118,165,11.4
67,Greece,133,112,218,8.3
127,Oman,22,16,1,0.7
92,Laos,62,0,123,6.2

#### Respondendo o primeiro questionamento

In [15]:
print("Média e desvio padrão do consumo de cerveja\n")

print(df['beer_servings'].mean())
print(df['beer_servings'].std())

#Licor

print("Média e desvio padrão do consumo de Licor\n")

print(df['spirit_servings'].mean())
print(df['spirit_servings'].std())

#Vinho

print("Média e desvio padrão do consumo de Vinho\n")

print(df['wine_servings'].mean())
print(df['wine_servings'].std())

Média e desvio padrão do consumo de cerveja

106.16062176165804
101.14310253931335
Média e desvio padrão do consumo de Licor

80.99481865284974
88.2843121096862
Média e desvio padrão do consumo de Vinho

49.45077720207254
79.69759845763012

#### Respondendo o segundo questionamento

In [33]:
df[df['country'] == 'France']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8

#### Respondendo o terceiro questionamento

In [36]:
df.sort_values(by='wine_servings', ascending= False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

#### Respondendo o quarto questionamento

In [38]:
media = df['beer_servings'].mean()
df[df['beer_servings'] > media]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
6,Argentina,193,25,221,8.3
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0